@use 'variables' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-bg;
  color: $color-text;
  font-family: $font-main;
}

button {
  border: none;
  border-radius: $radius;
  cursor: pointer;
  transition: background $transition;
}

.btn {
  background: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}
